.addFinans{   
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addFinans button{
    padding: 1rem;
    border: none;
    color: #fff;
    background: rgb(10, 83, 151);
    border-radius: 0.2rem;
    cursor: pointer;
}

.inputsAdd{
    display: flex;
    border-radius: 0.5rem;
    gap: 5rem;
    padding: 2rem;
    background: #f0f0f0;
    align-items: center;
    align-items: center;
    justify-content: center;
}


.inputsAdd label{
    margin-left: 25px;
    font-weight: 500;
}

.type input{
    accent-color: black;
}