*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background: rgb(23, 204, 23);
    color: #fff;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    font-weight: bold;
    box-shadow: 0.2rem 0.2rem 0.2rem rgb(126, 126, 126);
}

